<!--Wrapper content (navbar, title, content div)-->

<h1>Wiki</h1>
<textarea ng-model="filter" type="text" placeholder="Search"></textarea>
<div id="wrapper">

<div id="navbar">
<table>
<tr ng-repeat="page in pages | filter:filter">
	<td><a ng-click='fetchPageContent({{page.id}}' href="#{{page.title}}">{{page.title}}</a></td>
</tr>
</table>
</br>
<button ng-click='dispMakePageMenu()' type="button">+</button>
</div>
<div id="content">{{pagecontent}}</div>
</div>


<!--
</br>
<button ng-click='setFilter("")' type="button">All</button>
<button ng-click='setFilter("In Progress")' type="button">In Progress</button>
<button ng-click='setFilter("Completed")' type="button">Completed</button>
</br>
<table>
<tr ng-repeat="todo in todos | filter:filter">
<td>
<input style="-webkit-transform: scale(1.8);" type="checkbox" ng-click='toggleStatus(todo._id)' ng-checked='todo.status=="Completed"'>
</td>
<td>
{{todo.text}}
<button type="button" ng-click='deleteTodo(todo._id)'>X</button>
</td>
</tr>
</table>
-->