<div id="create">
  <p>Create twote here</p>
  <form method="POST" action="/create" id="twote-form">
    <input type="text" name="twotecont" class="twote-input">
    <input type="submit" class="twote-submit" value=" + ">
  </form>
</div>
<p>{{{body}}}</p>
<div id="twotes">
  {{{twotes}}}
</div>