<h1>Jessisca's Burgers</h1>

<h2>Pending Orders</h2>
<ol id="all-orders">
	<li id="kitchen-template" class="one-order" style="display: none">
		<ul class='order-ingredients'>
			<li class="one-ingredient">Temp Text</li>
		</ul>
		<input type="submit" name="completed" value="Completed" class="completed">
	</li>
</ol>