<h1>Jessisca's Burgers</h1>

<h2>Customize Your Order</h2>
<form id="order-form" method="POST">
	<div id="boxes">
	<div id="box" style="display:none">
	<input type="checkbox" class="ingredient-choice">
	<label class="ing-name"></label>
	</div>
	</div>
	<div id="total" value="0">$0.00</div>
	<input type="submit" id="submission" value="Place your order!">
</form>