<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CatDB App</title>
  </head>
  <body>
    {{{body}}}
    <br><br><hr>
    <a href="/cats/new"> Create a random cat </a><br><br>
    <a href="/cats"> See your cats </a><br><br>
    <a href="/cats/delete/old"> Kill the oldest cat </a>
    <br><br>
   <form action="/cats/bycolor" on="submit" type="get">
              Search by color:<input type="text" name="color"/>
    </form>


  </body>
</html>