{{#each twotes}}
<div class="oneTwote">
	<p class="twoteText">{{ twote }}</p>
	<p class="signature">- {{ authorName }}</p>
	<button class="deleteTwote" id="{{ _id }}">Delete</button>
</div>
{{/each}}

<script type="text/javascript" src="javascripts/csTwoteList.js"></script>