<!DOCTYPE html>
<html>
  <head>
  	<link rel="stylesheet" type="text/css" href="styles/index.css">
  	<script src="scripts/scripts.js"></script>
    <meta charset="utf-8">
    <title>Is It Christmas</title>
  </head>
  <body>
    {{{body}}}
  </body>
</html>