<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
	<title>Jessica's Burgers</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="javascripts/jquery.currency.js"></script>
</head>

<body>
	{{!-- Basic Navbar --}}
	<ul>
	  <li><a href="order">Order</a></li>
	  <li><a href="kitchen">Kitchen</a></li>
	  <li><a href="ingredients">Ingredients</a></li>
	</ul>

	{{{ body }}}
</body>

</html>