<h1>Place an order!</h1>

<form id="post_order">
	Name:<br>
	<input id="input-name" type="text" name="name"><br>
	<div id="order_item_list"></div>
	<input type="submit" value="Submit">
</form>

<script type="text/javascript" src="javascripts/csOrderPage.js"></script>