<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <!-- Include Bootstrap css & js -->
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/index.css">
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

	<title>Cats{{#if page-title}} | {{page-title}}{{/if}}</title>

  </head>
    {{{body}}}
</html>