<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Express Intro</title>
</head>
<body>
    <ul>
   {{#each classes}}
     <li>{{this.teacher}} teach(es) {{this.name}}.</li>
   {{/each}}
   </ul>
</body>
</html>
