<a href="#add_div" id="addcat_button" class="various">Add Cat</a>
<a href="#disp_div" id="dispcats_button" onclick="fetchCats()" class="various">Show Cats</a>
<a href="#disp_bycolor_div" id="dispcats_bycolor_button" class="various">Show Cats by Color</a>
<a href="#kill_div" id="killcat_button" class="various">Delete Cat</a>

<div style="display: none">
	<div id="add_div">
		<button type="button" onclick="addCat()">Add Cat</button>
		<div id="add_notifications"></div>
	</div>
</div>

<div style="display: none">
	<div id="disp_div">
	</div>
</div>

<div style="display: none">
	<div id="disp_bycolor_div">
		<input type="text" id="cat_color_filter" placeholder="Enter color of cat you wish to search for">
		<button type="button" onclick="fetchCats(document.getElementById('cat_color_filter').value)">Fetch</button>
		<div id="filtered_results"></div>
	</div>
</div>

<div style="display: none">
	<div id="kill_div">
		<button type="button" onclick="killOldestCat()">Kill Oldest Cat</button>
		<div id="killconfirmed"></div>
	</div>
</div>