<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Express Intro</title>
  </head>
  <body>
    {{{body}}}
    <br>
    <ul>
    	<li><a href="/cats">Check out cats</a></li>
    	<li><a href="/cats/new">New cat</a></li>
    	<li><a href="/cats/delete/old">Delete oldest cat</a></li>
      <li><a href="/cats/bycolor">Sort by color</a></li>
    </ul>
  </body>
</html>
