<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Flippit</title>
    <script type="text/javascript" src="scripts/jquery-2.2.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="scripts/fancybox/jquery.fancybox.css?v=2.1.5" media="screen" />
  	<script type="text/javascript" src="scripts/fancybox/jquery.fancybox.pack.js?v=2.1.5"></script>
  	<script type="text/javascript" src="scripts/index_init.js"></script>
</head>
<body>
    {{{body}}}
</body>
</html>
