<h1>Jessica's Burgers</h1>

<h2>Ingredients</h2>
<form action="ingredients" method="GET">
  <a href="/ingredients">Ingredients</a>
</form> 

<h2>Orders</h2>
<form action="orders" method="GET">
  <a href="/orders">Orders</a>
</form>

<h2>Kitchen</h2>
<form action="kitchen" method="GET">
  <a href="/kitchen">Kitchen</a>
</form>

