<!DOCTYPE html>
<html>
	<head>
		<title>Homework 4 Solution</title>
		<link rel="stylesheet" type="text/css" href="stylesheets/styles.css">
	</head>
	<body>
		<div id='nav'>
			<h1>Burger Place</h1>
			<a href='/order'>Order</a>
			<a href='/kitchen'>Kitchen</a>
			<a href='/ingredients'>Ingredients</a>
		</div>
		
		<div id='main'>
			{{{body}}}
		</div>
	</body>

	<!-- DO NOT MODIFY SCRIPT ORDER -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script type='text/javascript' src='javascripts/callbacks.js'></script>
	<script type='text/javascript' src='javascripts/handlers.js'></script>
	<script type='text/javascript' src='javascripts/main.js'></script>
</html>