<h2 id=twot-login>Login to Twoter</h2>
{{#if redir}}
<p id=twot-login>You must log in to post and read twotes.</p>
{{/if}}
<form method="POST" class="twot-form" action="/">
  <input type="text" class="twot-input" name="username" placeholder="Username">
  <br>
  <input type="submit" class="twot-submit">
</form>