<!DOCTYPE html>
<html>
  <head>
  	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  	<link href='http://fonts.googleapis.com/css?family=Lora:400,400italic' rel='stylesheet' type='text/css'>
    <meta charset="utf-8">
    <title>TestApp</title>
  </head>
  <body>
    {{{body}}}
  </body>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="/javascripts/main.js"></script>
</html>