<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="images/portal.png">
    <link rel="stylesheet" type="text/css" href="stylesheets/styles.css">
    <title>Twoter</title>
  </head>
  <body id="main">
    <div id="nav">
      <h1>Twoter</h1>
      <a href="">Home</a>
      <a href="">Compose</a>
      <a href="">Profile</a>
    </div>
    <div id="create">
      <p>Create tweet here</p>
    </div>
    <div id="twotes">
        {{{twotes}}}
    </div>
  </body>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="/javascripts/main.js"></script>
</html>