<center>
	<h1><font size="7" color="#87CEFA">Welcome to the Cat App</font></h1>
<br>
<font size="4" color="#A52A2A"><h4></h4>{{cats}}</font>

<br><br>
<a href="/cats/new"><button name="button" value="Menu" type="button">Give Birth to a Cat</button></a>
<a href="/cats"><button name="button" value="Menu" type="button">Check out the list of Cats</button></a>
<a href="/cats/delete/old"><button name="button" value="Menu" type="button">Put a Cat out of its Misery</button></a>

<br><br>

<font size="4" color="#A52A2A"><h4></h4>For a list of cats with the same color follow the path <font color="#008000"><i>/cats/bycolor/[your_color]</i></font></font>
<br><br>
<img src="/images/cat.gif" alt="code pic" height="250" weight="200">

</center>

