<center>
	<h1><font size="7" color="#87CEFA">Look, a new cat was added!</font></h1>
<br>

<font size="4"><h4>The following information exist about the new cat:</h4></font>
<font size="4" color="#A52A2A">Name:</font> {{cat.name}}<br>
<font size="4" color="#A52A2A">Age:</font> {{cat.age}}<br>
<font size="4" color="#A52A2A">Colors:</font> {{cat.colorlist}}<br>
<br><br>
<a href="/cats"><button name="button" value="Menu" type="button">See the List!</button></a>
<a href="/"><button name="button" value="Menu" type="button">Back to Menu Page</button></a>

</center>

