<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <title>Express Intro</title>
  </head>
  <body>
    {{{body}}}
  </body>
  <script type="text/javascript" src="javascripts/main.js"></script>
</html>