<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>CatMaker</title>
</head>
<body>
    {{{body}}}
<a href="/">Home and Help</a>
<a href="/cats/new">Make new cat</a>
<a href="/cats">List all cats</a>
<a href="/cats/blue">List all blue cats</a>
<a href="/cats/delete/old">The inevitable</a>
<a href="/catmageddon">The unspeakable</a>
</body>
</html>
