<h2>Welcome to Twoter</h2>
<br></br>
<form id = 'logInButton' action='login' method='GET'>
    <input type='submit' value='Log In'>
</form>


<br></br>

<div id='allTwotes'>
    {{#each alltwotes}}
        <div id='{{this.id}}-twote'>
            <li>User {{this.user}} said {{this.text}}</li>
        </div>
    {{/each}}
</div>
