<style>
    html,body {
        height:100%;
        width:100%;
        margin:0;
    }
    body {
        display:flex;
    }
    form {
        margin:auto;
    }
</style>

<form class="form-inline login-form">
    <div class="well">
        <div class="form-group">
            <label for="name-field">Name:</label>
            <input type="text" class="form-control floating-label" id="name-field" name="name" placeholder="Brosky">
        </div>
        <button type="submit" class="btn btn-primary post-login">Login</button>
    </div>
</form>
