<!DOCTYPE html>
<html>
  <body>
    {{{body}}}
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="/javascripts/main.js"></script>
</html>