* {
  margin: 0px;
}

html, body {
  font-family: Helvetica, sans-serif;
}

#container {
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
}

header {
  background-color: seagreen;
  
  padding: 8px;
  -webkit-flex: 1 100%;
  -webkit-order: 0;
}

.bar {
  padding: 8px;
  -webkit-flex: 1 0;
}

.bar.left {
  background-color: orange;
  
  -webkit-order: 1;
}

article {
  padding: 8px;
  background-color: dodgerblue;

  -webkit-order: 2;
  -webkit-flex: 3 0;
}

.bar.right {
  background-color: yellow;
  
  -webkit-order: 3;
}

footer {
  background-color: magenta;
  
  padding: 8px;
  -webkit-flex: 1 100%;
  -webkit-order: 4;
}

/* Style differences for screens thinner than 550px */
@media (max-width: 550px) {
  article {
    -webkit-flex: 1 100%;
    -webkit-order: 1;
  }
  .bar.left { -webkit-order: 2; }
  .bar.right { -webkit-order: 3; }
}