<table>
    <tr>
        <td>Name</td>
        <td>Colors</td>
        <td>Age</td>
    </tr>
    {{#each cats}}
        <tr>
          <td>{{this.name}}</li>
          <td>{{this.colors}}</li>
          <td>{{this.age}}</li>
        </tr>
    {{/each}}
</table>

