<div class="container">
  <div class="row main">
    <div class="panel-heading">
             <div class="panel-title text-center">
                <h1 class="title">Welcome to twotter!</h1>
                <hr />
              </div>
            </div>
    <div class="main-login main-center" id="login-div">
      <form class="form-horizontal" method="POST" id="login-form">

        <div class="form-group">
          <label for="username" class="cols-sm-2 control-label">Username</label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
              <input type="text" class="form-control" name="name" id="username"  placeholder="Enter your Username"/>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="password" class="cols-sm-2 control-label">Password</label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
              <input type="password" class="form-control" name="password" id="password"  placeholder="Enter your Password"/>
            </div>
          </div>
        </div>

        <div class="form-group ">
          <input type="submit" class="btn btn-primary btn-lg btn-block login-button" value="Login">
        </div>
        <a href="/auth/facebook">Login with Facebook</a>
      </form>
    </div>
  </div>
</div>
