Login:
<form id="login">
	Username:
	<input type="text" name="name" required>
	Password:
	<input type="password" name="password" required>
	<input type="submit" value="Login">
</form>

Signup:
<form id="sign_up">
	Username:
	<input type="text" name="name" required>
	Password:
	<input type="password" name="password" required>
	Password again:
	<input type="password" name="password_again" required>
	<input type="submit" value="Sign Up">
</form>

<script type="text/javascript" src="javascripts/csLogin.js"></script>