<div id="loginBox">
	<h3>Login:</h3>
	<form id="login">
		Username:
		<input type="text" name="name" required><br>
		Password:
		<input type="password" name="password" required><br>
		<input type="submit" value="Login"><br>
	</form>

	<h3>Signup:</h3>
	<form id="sign_up">
		Username:
		<input type="text" name="name" required><br>
		Password:
		<input type="password" name="password" required><br>
		Password again:
		<input type="password" name="password_again" required><br>
		<input type="submit" value="Sign Up"><br>
	</form>
</div>

<div id="loginErrors"></div>
<script type="text/javascript" src="javascripts/csLogin.js"></script>