<button id="logout">Logout</button>

<form id="submit_twote">
	Twote:
	<input type="text" name="writtenTwote" required>
	<input type="submit" value="Twote">
</form>

<div id="twote_list"></div>
<script type="text/javascript" src="javascripts/csTwote.js"></script>