<form action="/auth/local" method = "POST">
	Username <input type="text" name="username"/>
	<br>
	Password&#160; <input type="text" name="password"/>
	<input type="submit" value="Login"/>
</form>
<a href = "/auth/facebook"> Login with Facebook</a>