<h1>WikiMVC</h1>
<button type="button" id="auth_button">Login</button>
<div id="twotes">
	<h2>Twotes</h2>
	<div>
	<input type="text" id="new_twote">
	</div>
	<table style="width: 100%" id="twoteslist">
	</table>
</div>
<div id="users">
	<h2>Users</h2>
	<table style="width: 100%" id="userlist">
	</table>
</div>
