<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Twoter</title>
    <script type="text/javascript" src="scripts/jquery-2.2.0.min.js"></script>
    <script type="text/javascript" src="scripts/main.js"></script>
</head>
<body>
    {{{body}}}
</body>
</html>
