<div id="chart-container">
  <div id="credit">
    From <a target="_blank" href="http://bl.ocks.org/mbostock/3885304">Mike Bostock, creator of d3.js</a>.
  </div>
</div>
<script src="/javascripts/chart.js"></script>
