<div id="clock-container">
  <div id="credit">
    From <a target="_blank" href="http://bl.ocks.org/mbostock/1096355">Mike Bostock, creator of d3.js</a>.
  </div>
</div>
<script src="/javascripts/clock.js"></script>
