<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>The Client!</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</head>
<body>
    {{{body}}}
</body>
<script type="text/javascript" src="javascripts/main.js"></script>
</html>
