<h1>Ingredient List</h1>
<form id="ajax-form" action="newIngredient" method= "POST">
	Name: <input type="text" name="name"/><br/>
	Price: <input type="text" name="price"/><br/>
	<input type ="submit" value="Submit">
</form>
<ul>
{{#each ingredients}}
<form id="ajax-form" action="outOfStock" method= "POST">
  	<input type="text" name="name" value="{{this.name}}"/><br/>
  	<input type="text" name="price" value="{{this.price}}"/><br/>
  	<input type ="submit" value="Edit" formaction = "edit">
	<input type ="submit" value="Out of Stock">
</form>
{{/each}}
<div id="result"></div>
<script type="text/javascript" src="javascripts/main.js"></script>
</ul>