<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <meta charset="utf-8">
    <title>Jessica's Burgers</title>
  </head>
  <body>
  {{{body}}}
  </body>
</html>
