<h1>Twoter</h1>
<a href="/auth/facebook">Login</a>
<a href="/logout">Logout</a>
<div class="main_wrapper">
<div id="twotes">
	<div id="make_twote">
	<h2 style="margin-bottom: 5px">Twote!</h2>
	<textarea rows="4" cols="50" id="new_twote"></textarea>
	</div>
	<table class="twotes_list" id="twoteslist">
	</table>
</div>
<div id="users">
	<h2>Users</h2>
	<table class="user_list" id="userlist">
	</table>
</div>
</div>
